<div class="details">
	<div class="card-panel">
    <div class="row">
      <div class="col s12 m5">
        <img materialboxed ng-src="{{detail.result.photoUrl}}" class="responsive-img materialboxed z-depth-2" data-caption="{{detail.result.name}}" alt="{{detail.result.name}}">
        <br>
        <div class="chip" ng-repeat="category in detail.result.categories track by $index">
        	<a href="recipes/categ?name={{category}}" internal>{{category}}</a>
        </div>
        <div>by <a href="/myRecipes/{{detail.result.userId._id}}" internal>{{detail.result.userId.showName}}</a></div>
		<br>
		
        <div>
          <a ng-if="detail.isLogged()" class="btn-floating waves-effect waves-light green" ng-click="detail.toggleLike(detail.result._id, detail.getCurrentUser().id)">
            <i ng-hide="detail.iLikeIt" class="material-icons">thumb_up</i>
            <i ng-show="detail.iLikeIt" class="material-icons red">thumb_down</i>

          </a> 
          <p ng-if="detail.result.likes.length>0"><span>{{detail.result.likes.length}}</span> Likes</p>

          <div tweet="detail.result.name - detail.result.photoUrl"></div>

        </div>
      </div>
      <div class="col s12 m7">
        <h3>{{detail.result.name}}</h3>
        <p>{{detail.result.preparation}}</p>
        <ul>
        	<li ng-repeat="ing in detail.result.ingredients track by $index">{{ing}}</li>
        </ul>


        
      </div>
    </div>
  </div>
</div>
