<h1>Sign Up</h1>
<div class="row">
	<form class="col s12" name="signUp.form" novalidate>
		<div class="row">
		  <div class="input-field col s12">
		    <label for="email">email</label>
		    <input ng-model="signUp.data.email" id="email" type="text" placeholder="" class="validate">
		  </div>
		</div>
		<div class="row">
		  <div class="input-field col s12">
		    <label for="password">password</label>
		    <input ng-model="signUp.data.password" id="password" type="password" placeholder="" class="validate">
		  </div>
		</div>

		<button id="Save" ng-click="signUp.save()">Save</button>
		<button id="Close" ng-click="signUp.cancel()">Close</button>		
	</form>
</div>