<div class="section">
  <div class="card-panel">
    <div class="row">
      <div class="col s12 m5">
        <img materialboxed ng-src="{{main.randomRecipe.photoUrl}}" class="responsive-img materialboxed z-depth-2" data-caption="{{main.randomRecipe.Name}}" alt="{{main.randomRecipe.Name}}">
        
      </div>
      <div class="col s12 m7">
        <h3>{{main.randomRecipe.Name}}</h3>
        <p>{{main.randomRecipe.Preparation}}</p>
        <div class="chip" ng-repeat="category in main.randomRecipe.Category">
          <a href="#!/recipes/categ?name={{category}}">{{category}}</a>
        </div>  
        <div>
          <a class="btn-floating waves-effect waves-light green"><i class="material-icons">thumb_up</i></a>
          <a href="#!/recipe/details?id={{main.randomRecipe.RecipeID}}" class="waves-effect waves-light btn-flat right blue"><i class="material-icons left">receipt</i>View</a>
        </div>
        
      </div>
    </div>
  </div>
</div>
<hr>

<section id="most_voted">
  <div carousel dist='-50' ng-if="main.top10.length" >
    <div class="carousel-item"  ng-repeat="recipe in main.top10" >
       <div class="card hoverable">
        <div class="card-content">
          <h5>{{recipe.Name}}</h5>
          <img ng-src="{{recipe.photoUrl}}">
          <a href="#!/recipe/details?id={{recipe.RecipeID}}"  class="waves-effect waves-light btn blue"><i class="material-icons left">receipt</i>View</a>
        </div> 
      </div> 
    </div>
</section>


