<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="styles.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body ng-app="RecipeApp">
      <div id="main-container">
        <nav>
          
            <a href="#" data-activates="mobile-menu" menuwidth="400" sidenav="left" class="button-collapse"><i class="material-icons">menu</i></a>
      
            <ul class="right hide-on-med-and-down" >
              <li>
                <a href="#" data-activates="slide-out" data-menuwidth="300" closeonclick="true" sidenav="right">
                  <i class="material-icons left">person_pin</i>Login</a>
              </li>
              <li><a href="/emailSignup"><i class="material-icons left">library_books</i>Register</a></li>
            </ul>

            <div class="side-nav "  id ="mobile-menu"> 
              <div><i class="material-icons left">person_pin</i>Login</div>

              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">email</i>
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="password" type="password" class="validate">
                      <label for="password">Password</label>
                    </div>
                  </div>

                </form>
              </div>
              <hr>
              <div> 
                <p class="right-align">-or- Login with...</p>
                  <p>
                    <a href="/auth/Facebook" class="btn waves-effect waves-light btn-large blue lighten-1">
                      <i class="fa fa-facebook-square fa-4x left" aria-hidden="true"></i>Facebook</a>
                  </p>
                  <p>
                    <a href="/auth/google" class="btn waves-effect waves-light btn-large red lighten-1">
                      <i class="fa fa-google-plus-square fa-4x left" aria-hidden="true"></i>Google+</a>
                  </p>
                  <p>
                    <a href="/auth/twitter" class="btn waves-effect waves-light btn-large blue darken-3">
                      <i class="fa fa-twitter-square fa-4x left" aria-hidden="true"></i>Twitter</a>
                  </p>
              
              </div>
              <br>
              <hr>
              <p>
                <a href="/emailSignup"><i class="material-icons left">library_books</i>e-Mail Register</a>
              </p>
            </div>

        </nav>

  

<br><br>
        <div class="container" ng-controller="MainController as MainCtrl">
          <form>
            <div class="row">
              <div class="col s9">
                  <input class="input-field" id="search" type="search" placeholder="enter recipe name..." ng-model="MainCtrl.query" required>
              </div>
              <div class="col s3">
                  <button  class="btn waves-effect waves-light blue" type="submit" ng-click="MainCtrl.search()">
                    <i class="material-icons">search</i> <span class="hide-on-small-only">Search</span>
                  </button>
              </div>
            </div>
          </form>
        </div>

        <div class="container" >
          <div ng-view=""></div>
        </div>


        <footer  class="page-footer">
          <div class="container">
            <p>Made with: Angular 1.x, Materialize, Node, Express, MongoDB</p>
          </div>
        </footer>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.js"></script>
        <script type="text/javascript" src="ui.materialize.carousel.js"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-mocks.js"></script>

        <script src="app.js"></script>
        <script src="recipe.service.js"></script>
        <script src="recipeapi.service.js"></script>
        <script src="main.controller.js"></script>
        <script src="search.controller.js"></script>
        <script src="searchByCateg.controller.js"></script>
        <script src="details.controller.js"></script>


      </div>


    <ul id="slide-out" class="side-nav">
      <li class="no-padding">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>

          </form>
        </div>
      </li>
      <li><p class="right-align"><h5>-or- Login with...</h5></p></li>
      
        <p>
          <a href="/auth/Facebook" class="btn waves-effect waves-light btn-large blue lighten-1">
            <i class="fa fa-facebook-square fa-4x left" aria-hidden="true"></i>Facebook</a>
        </p>
        <p>
          <a href="/auth/google" class="btn waves-effect waves-light btn-large red lighten-1">
            <i class="fa fa-google-plus-square fa-4x left" aria-hidden="true"></i>Google+</a>
        </p>
        <p>
          <a href="/auth/twitter" class="btn waves-effect waves-light btn-large blue darken-3">
            <i class="fa fa-twitter-square fa-4x left" aria-hidden="true"></i>Twitter</a>
        </p>
    </ul>
     
     
    </body>
  </html>
        