  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    background-color: #eee;
  }

.showonhover {
	opacity:0.1;
}
.card:hover .showonhover {
	opacity:1;
}

.hero {
	position:relative;
	height: 70px;
}
