  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    background-color: #eee;
  }

.showonhover {
	opacity:0.1;
}
.card:hover .showonhover {
	opacity:1;
}

.hero {
	position:relative;
	height: 70px;
}

div.tope {
  height: 30px;
  margin:0;
  padding:0;
  background-color: #234;
  color: #eee;
}
.tope div {
  height: 100%;
}
.tope ul {
  height: 100%;
  margin:6px 0 0 0;
}
.tope li {
  display: list-item;
  float:left;
  padding-right: 20px;
}